/* Base */
/*  */
/* Removes browser default settings */
* {
    margin: 0;
    padding: 0;
  }

/* Links */
a         { color: #2a7ae2; text-decoration: none; }
a:hover   { color: #000; text-decoration: underline; }
a:visited { color: #000000; }

/* Utility */

.wrap:before,
.wrap:after { content:""; display:table; }
.wrap:after { clear: both; }
.wrap {
  /* Change max width? */
  max-width: 850px;
  padding: 0 30px;
  margin: 5px auto;
  zoom: 1;
}

/* body { font: 400 16px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; color: #111; background-color: #fdfdfd; -webkit-text-size-adjust: 100%; -webkit-font-feature-settings: "kern" 1; -moz-font-feature-settings: "kern" 1; -o-font-feature-settings: "kern" 1; font-feature-settings: "kern" 1; font-kerning: normal; display: flex; min-height: 100vh; flex-direction: column; } */
body {
    font-family: -apple-system, BlinkMacSystemFont, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	/* font: 400 16px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", "Segoe UI Symbol", "Segoe UI Emoji", "Apple Color Emoji", Roboto, Helvetica, Arial, sans-serif; */
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300;
    background-color: #fdfdfd;
  }
/* OH I THINK THE BODY BEING 70% + margin means if we put the nav in the body, it won't be able to take the whole thing.
OOOOOOOH I GET IT!!
So essentially, we can either have a nav that overrides the width and margin, or change body. Pog. See how karpathy did it.
If you want body to be normal, but have a section (i.e the text) be at 70% or whatever, just make a container class or something! 
(by this i mean do #text or .text, see https://www.w3schools.com/css/css_selectors.asp
Basically, class is for a whole section, id is a specific thing in that section (so we want to make a class) .text */




p {
  font-size: 16px;
  line-height: 1.6;
  color:#222222;
  margin: 0px;
  margin-bottom: 20px;
  display: block;
}

ul.posts { 
  margin: 20px auto 40px; 
  font-size: 1.5em;
}

ul.posts li {
  list-style: none;
}
/* Layout Styles */
/* ----------------------------------------------------------*/

/* Site header - You could just have header but for some reason we're gonna make it a class .site-header */

.site-header {
    border-top: 5px solid #424242;
    border-bottom: 1px solid #e8e8e8;
    min-height: 56px;
    color: #424242;
}
/* .site-header { border-top: 5px solid #424242; border-bottom: 1px solid #e8e8e8; min-height: 55.95px; position: relative; } */

.site-title,
.site-title:hover,
.site-title:visited {
  display: block;
  color: #333;
  font-size: 26px;
  letter-spacing: -1px;
  float: left;
  line-height: 56px;
  position: relative;
  z-index: 1;
  color: #424242;
}

  /* This is the About, etc. Stuff on the right - Site Nav */
.site-nav { float: right; line-height: 56px; }
.site-nav .menu-icon { display: none; }
  /* These 2 displays hide a checkbox and a burger thing (wtf, why are they there??) */
.site-nav .nav-trigger {
display: none;
clear: both;
margin-bottom: 5px;
 }
  /* Color of links. */
.site-nav .page-link{
color: #665d5d;
line-height: 1.5;
font-weight: 500;
font-size: 17px;
padding: 10px;
}


nav ul, footer ul {
    padding: 0px;
    list-style: none;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

/* Site footer */

.site-footer {
  border-top: 1px solid #e8e8e8;
  padding: 30px 0;
}

.footer-heading {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: -.5px;
  margin-bottom: 15px;
}

.site-footer .column { float: left; margin-bottom: 15px; }

.footer-col-1 {
  width: 270px; /*fallback*/
  width: -webkit-calc(35% - 10px);
  width: -moz-calc(35% - 10px);
  width: -o-calc(35% - 10px);
  width: calc(35% - 10px);
  margin-right: 10px
}
.footer-col-2 {
  width: 175px; /*fallback*/
  width: -webkit-calc(23.125% - 10px);
  width: -moz-calc(23.125% - 10px);
  width: -o-calc(23.125% - 10px);
  width: calc(23.125% - 10px);
  margin-right: 10px
}
.footer-col-3 {
  width: 335px; /*fallback*/
  width: -webkit-calc(41.875%);
  width: -moz-calc(41.875%);
  width: -o-calc(41.875%);
  width: calc(41.875%);
}

.site-footer ul { list-style: none; }

.site-footer li,
.site-footer p {
  font-size: 15px;
  letter-spacing: -.3px;
  color: #828282;
}

.github-icon-svg,
.twitter-icon-svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  position: relative;
  top: 3px;
}

/* Home styles */
/* ----------------------------------------------------------*/

.home h1 { margin-bottom: 25px; }

/* Some dividers */
.page-divider {
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid #ddd;
}

.page-divider .one {
  position: relative;
  top: -9px;
  display: block;
  background: #ddd;
  width: 18px;
  height: 18px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

.page-divider .two {
  position: relative;
  top: -26px;
  display: block;
  background: #fff;
  width: 16px;
  height: 16px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}
.posts { list-style-type: none; }

.posts li { margin-bottom: 30px; }

.posts .post-link {
  font-size: 20px;
  letter-spacing: -1px;
  line-height: 1;
}

.posts .post-date {
  display: block;
  font-size: 15px;
  color: #818181;
}

/* Post styles */
/* ----------------------------------------------------------*/

.post-header { margin: 10px 0 30px; }

.post-header h1 {
  font-size: 36px;
  letter-spacing: -1.75px;
  line-height: 1;
  font-weight: 300;
  text-align: center;
}

.post-header .meta {
  font-size: 15px;
  color: #818181;
  margin-top: 5px;
}

.post-content { margin: 0 0 30px; }

.post-content > * { margin: 20px 0; }

.post-content a {
color: #2a7ae2;
text-decoration: none;
}

.post-content a:hover,
.post-content a:visited { 
color: #2a7ae2;
text-decoration: underline;
}


.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
  line-height: 1;
  font-weight: 400;
  margin-bottom: 15px;
  /* text-align: center; */
}

.post-content h1 {
  font-size: 38px;
  letter-spacing: -1.25px;
}
.post-content h2 {
  font-size: 32px;
  letter-spacing: -1.25px;
}

.post-content h3 {
  font-size: 26px;
  letter-spacing: -1px;
}

.post-content h4 {
  font-size: 20px;
  letter-spacing: -1px;
  font-weight: 500;
}

.post-content blockquote {
  border-left: 4px solid #e8e8e8;
  padding-left: 20px;
  font-size: 18px;
  opacity: .6;
  letter-spacing: -1px;
  font-style: italic;
  margin: 30px 0;
}

.post-content ul,
.post-content ol { padding-left: 20px; }

.post pre,
.post code {
  border: 1px solid #d5d5e9;
  background-color: #eef;
  padding: 8px 12px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 15px;
  overflow:auto;
}

.post code { padding: 1px 5px; }

.post ul,
.post ol { margin-left: 1.35em; }

.post pre code {
  border: 0;
  padding-right: 0;
  padding-left: 0;
}

.post img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
  }

.post iframe { 
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	height: 400px;
  }

/* Get rid of ads because wtf?? I didn't know there even were ads on my site. Wasn't even getting paid! */
iframe[src*="ads-iframe"] { display: none; }

/* Tables */
  .post table {
    border-collapse: collapse;
    }
    
    .post td, .post th {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: left;
    }
    .post tbody tr:nth-child(odd) {
    background: #eee;
    }

/* Skills stuff */
.skills {
	list-style-type: none;
}

.skills ul { 
margin: 20px auto 40px; 
font-size: 1.1em;
}

.skills .padding li{
	padding-bottom: 5px;
}

.skills .skillset {
font-size: 25px;
}


/* Stuff below occurs only when screen is <=600px (so basically for phones) */
@media screen and (max-width: 600px) {

    .wrap { padding: 0 12px; }
  
    .site-nav {
      position: fixed;
      z-index: 10;
      top: 14px; right: 8px;
      background-color: white;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      border: 1px solid #e8e8e8;
    }
  
    .site-nav .menu-icon {
      display: block;
      font-size: 24px;
      color: #505050;
      float: right;
      width: 36px;
      text-align: center;
      line-height: 36px;
    }
  
    .site-nav .menu-icon svg { width: 18px; height: 16px; }
  
    .site-nav .trigger {
      clear: both;
      margin-bottom: 5px;
      display: none;
    }
  
    .site-nav:hover .trigger { display: block; }
  
    .site-nav .page-link {
      display: block;
      text-align: right;
      line-height: 1.25;
      padding: 5px 10px;
      margin: 0;
    }
  
    .post-header h1 { font-size: 36px; }
    .post-content h2 { font-size: 28px; }
    .post-content h3 { font-size: 22px; }
    .post-content h4 { font-size: 18px; }
    .post-content blockquote { padding-left: 10px; }
    .post-content ul,
    .post-content ol { padding-left: 10px; }
  
    .site-footer .column {
      float: none;
      clear: both;
      width: auto;
      margin: 0 0 15px; }
}

/* TESTING TESTING */
.fuckyallhover {
  visibility: hidden;
  position: relative;
  z-index: 1;
  margin-left: -1em;
  margin-top: -1em;
  }
  
  /* https://www.w3schools.com/css/css_tooltip.asp THIS IS WHAT WE WANT */
  .textbitch:hover .fuckyallhover {
  visibility: visible;
  }


.project-items {
  text-align: center
}

.project-page {
  width: 220px;
  height: 220px;
  background-color: #333;
  margin: 20px;
  display: inline-block;
  padding: 7px;
  background-repeat: no-repeat;
  background-size: 220px 220px;
  background-position: center;
  opacity: 1;
  position: relative;
  cursor: pointer;
}
.project-title {
  font-size: 20px;
  /* font-family: "Montserrat", sans-serif; */
  font-weight: bold;
  position: absolute;
  right: 10px;
  left: 10px;
  top: 10px;
  padding: 5px;
  background-color: rgb(141, 131, 131);
  cursor: pointer;
}
#rps {
  background-image: url(../assets/homeimg.jpg);
  /* background-size: 200px 200px;
  opacity: 0.5; */
} 
#coderone {
	background-image: url(../assets/coderone/coderonelogo.png);
  /* background-size: 250px 200px; */
}

#frameofwar {
	background-image: url(../assets/frameofwar/level3.png);
}


/* Project Page. This is so messed up, the stuff below is mostly from a .sass file wtf is that. I just
yoinked and edited it from Gradfolio   */

/* .cover-post:after {
	background-color: rgba(0,0,0,.75);
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
} */

.ProjectContainer {
	max-width: 800px;
	margin: 0 auto;
	padding: 2rem;
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	/* Compensate for excess margin on outer gallery flex items */
	margin: -1rem -1rem;
}

.projectTile {
	/* Minimum width of 200px and grow to fit available space */
	flex: 1 0 200px;
	border-radius: 15px;
	background: #cfe6a4;
	height: 200px;
	width: 100%;
	overflow: hidden;
	display: table;
	background-position: center;
}

.projectTile a {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
}

.projectTile a span {
	display: flex;
  justify-content: center;
  color: #333;
  }


.projectTile a span h2 {
  font-size: 1.5rem;
  padding: 1rem;
}

.projectTile:hover a span h2 {
  display: none;
}

.projectTile a span p {
  display: none;
}

.projectTile:hover a span p {
  font-size: 1.2rem;
  display: flex;
  padding: 1rem;
  color: #333;

  @media (prefers-color-scheme: dark) {
    color: $text-color-dark;
  }
}

@include media-query($on-phone) {
  @media screen and (max-width: $on-phone){

    .projectTile {
      height: 80px;
    }

    .projectTile a span h2 {
      font-size: 1.2rem;
    }

    .projectTile:hover a span p {
      display: none;
    }

    .projectTile:hover a span h2 {
      display: flex;
    }


  }
}

@include media-query($on-palm) {
  @media screen and (max-width: $on-palm){

    .projectTile {
      height: 100px;
    }

    .projectTile a span h2 {
      font-size: 1.3rem;
    }

    .projectTile:hover a span p {
      display: none;
    }

    .projectTile:hover a span h2 {
      display: flex;
    }

  }
}


@supports (display: grid) {
  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 2rem;
  }

  .gallery,
  .gallery-item {
    margin: 0;
  }
}

/* //Based on: https://codepen.io/GeorgePark/pen/vdqYom */


/* Tooltip container */
.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: #555;
	color: #fff;
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;
  
	/* Position the tooltip text */
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -60px;
  
	/* Fade in tooltip */
	opacity: 0;
	transition: opacity 0.3s;
  }
  
  /* Tooltip arrow */
.tooltip .tooltiptext::after {
content: "";
position: absolute;
top: 100%;
left: 50%;
margin-left: -5px;
border-width: 5px;
border-style: solid;
border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
visibility: visible;
opacity: 1;
}

.container {
background-color: #fff;
border-radius: 4px;
box-shadow: 0 1px 2px 0 rgba(153,153,153,0.35);
padding: 1em;
border: 1px solid #eee;
display: block;
width: 200px;
margin: 0 auto;
}

.label {
display: flex;
align-items: center;
justify-content: center;
}

.label-text {
margin-left: 0.5em;
}

.gold {
	color: gold;
}