body {
    margin: 60px auto;
    width: 70%;
}
/* OH I THINK THE BODY BEING 70% + margin means if we put the nav in the body, it won't be able to take the whole thing.
OOOOOOOH I GET IT!!
So essentially, we can either have a nav that overrides the width and margin, or change body. Pog. See how karpathy did it.
If you want body to be normal, but have a section (i.e the text) be at 70% or whatever, just make a container class or something! 
(by this i mean do #text or .text, see https://www.w3schools.com/css/css_selectors.asp
Basically, class is for a whole section, id is a specific thing in that section (so we want to make a class) .text */
.text {
    margin: 60px auto;
    width: 70%;
}
/* The below removes the bullet points from the stuff */
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
header {
    padding: 60px;
    text-align: right;
    background: #101010;
    color: #9d9d9d;
    font-size: 30px;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}