---
layout: page
title: Home Page
includelink: false
---
<!-- <img src="/assets/testlogo.jpg" width="400px"> -->

<h1> Hey! 👋</h1>
I'm Anti, how's it going?
If you're here for professional reasons, check out my professional posts!
<h1> Professional Posts </h1>
<ul class="posts"> 

    {% for post in site.posts %}
        <li>
        {% if post.tags[0] == 'professional' %}

            <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span> 
			<a href="{{ post.url }}" title="{{ post.title }}" {% if post.tags[1] == 'gold'%} style="color: rgb(184, 175, 48); font-weight: 500;" {%endif%}>{{ post.title }}</a>
            <br>
			{% if post.excerpt %}
            <p> {{ post.excerpt }} </p>
			{% endif %}

        {% endif %}
        </li>	
    {% endfor %}

</ul>


<h1> Non-Professional Posts </h1>
These articles are more 'me', although some are a bit out there.
Be warned. Some are a bit non-PG, some are cool.

<ul class="posts"> 

    {% for post in site.posts %}
        <li>
        {% if post.tags[0] == 'non-professional' %}

            <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span> 
			<a href="{{ post.url }}" title="{{ post.title }}" {% if post.tags[1] == 'gold'%} style="color: rgb(184, 175, 48); font-weight: 500;" {%endif%}>{{ post.title }}</a>
            <br>
			{% if post.excerpt %}
            <p> {{ post.excerpt }} </p>
			{% endif %}

        {% endif %}
        </li>	
    {% endfor %}
	
</ul>

<span class='page-divider'> 
	<span class='one'></span>
	<span class='two'></span>
</span>

<h1> Quick About </h1>

I'm Antimatter, or Yuv, and I do things sometimes. This website works as both a nice place to store my projects as well as explanations / concepts that I might be exploring.
I tend to do a lot of 'nibbles' at different things, which means that I don't actually go far enough into for it to be worth writing a post about, but still pick up some nice skills along the way.

<br>
<br>
<span class='page-divider'> 
	<span class='one'></span>
	<span class='two'></span>
</span>

<h1> Favourite Projects </h1>
Right now, I don't really have enough projects to call any my favourite. However, the Coder One Hackathon and Frame of War are pretty cool <a href='/projects'> (you should check them out).</a>

<br>
<br>

<span class='page-divider'> 
	<span class='one'></span>
	<span class='two'></span>
</span>

