---
layout: default
---
<!-- The below goes into the default's content. -->
<div class="post">
    <header class='post-header'>
		<br>
		<br>
		<br>
		<br>
		<br>
		<h1>{{ page.title }}</h1>
		<canvas id="myCanvas"></canvas>
		<script src='/assets/js/canvas/mainpagecircles.js'></script>
        <br>
        <span class='page-divider'> 
            <span class='one'></span>
            <span class='two'></span>
        </span>
    </header>
	<!-- <script src="/assets/js/canvas/circularmotion.js"></script> -->
	<!-- <script src='/assets/js/canvas/testrandom.js'></script> -->
    {{content}}
</div>
